@font-face {
    font-family: "logo-font";
    src: url("fonts/Norse-Bold.otf");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    display: flex;
    width: 80%;
    height: 100vh;
    background-color: white;
    margin: 0 auto;

}

.side-bar {
    height: inherit;
    width: 30%;
}

.side-bar img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.side-bar .logo-container {
    position:absolute;
    width: inherit;
    height: 15%;
    background-color: black;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 100%;
    width: auto;
}

.logo-container span {
    display: block;
    font-family: "logo-font";
    font-size: 6rem;
    color: white;
}
.signup-container {
    position: relative;
    height: inherit;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 100px 40px;
    background-color: white;
}

.infor {
    width: 80%;
}

p {
    font-size: 20px;
}

h2,p {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.user-information {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

input {
    width: 240px;
    line-height: 1.6rem;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:  rgb(83, 114, 83);
    border: none;
    border-radius: 5px;
}