@font-face {
    font-family: "logo-font";
    src: url("fonts/Norse-Bold.otf");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    display: flex;
    width: 80%;
    height: 120vh;
    margin: 0 auto;
}

.side-bar {
    height: inherit;
    width: 30%;
}

.side-bar img {
    height: 100%;
}

.side-bar .logo-container {
    position:absolute;
    width: 365px;
    height: 15%;
    background-color: rgba(0,0,0,0.5);
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 100%;
    width: auto;
}

.logo-container span {
    display: block;
    font-family: "logo-font";
    font-size: 6rem;
    color: white;
}
.signup-container {
    height: inherit;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    background-color: #f6f6f7;
}

.infor {
    width: 80%;
    padding: 20px 40px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

h2,p {
    margin-bottom: 30px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.sign-up {
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 5px 10px -5px rgb(0,0,0,0.5);
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.user-information {
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

input {
    width: 240px;
    line-height: 1.6rem;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #9cbe7f;
    cursor: pointer;
}

.submit {
    padding: 20px 40px;  
}

.submit a{
    text-decoration: none;
    color: #596D48;    
}

.submit a:hover {
    color: #9cbe7f;
}
input:focus {
    outline: 1.5px solid blue;
    box-shadow: 1px 1px 10px black;
}

input[type="password"]:invalid {
    outline: 1.5px solid rgb(221, 42, 42);
}

input[type="password"]:focus {
    outline: 1.5px solid blue;
}

.credit {
    position: absolute;
    bottom: -10%;
    left: 14%;
    color: white;

}

.credit a {
    color: white;
}